#define VER_FILEDESCRIPTION_STR "Jiufeng Webclient DLL"
#define VER_INTERNALNAME_STR "olwebclient.dll"
#define VER_ORIGINALFILENAME_STR "olwebclient.dll"
#define VER_PRODUCTNAME_STR "Jiufeng Webclient Dynamic Linking Library"

#include "jiutai.rc"
