#define VER_FILEDESCRIPTION_STR "Jiufeng Matrix DLL"
#define VER_INTERNALNAME_STR "jf_matrix.dll"
#define VER_ORIGINALFILENAME_STR "jf_matrix.dll"
#define VER_PRODUCTNAME_STR "Jiufeng Matrix Dynamic Linking Library"

#include "jiutai.rc"
