#define VER_FILEDESCRIPTION_STR "Jiufeng UUID DLL"
#define VER_INTERNALNAME_STR "oluuid.dll"
#define VER_ORIGINALFILENAME_STR "oluuid.dll"
#define VER_PRODUCTNAME_STR "Jiufeng UUID Dynamic Linking Library"

#include "jiutai.rc"
