#define VER_FILEDESCRIPTION_STR "Jiufeng Cryptographic Hash Function DLL"
#define VER_INTERNALNAME_STR "jf_cghash.dll"
#define VER_ORIGINALFILENAME_STR "jf_cghash.dll"
#define VER_PRODUCTNAME_STR "Jiufeng Cryptographic Hash Function Dynamic Linking Library"

#include "jiutai.rc"
